# Temporary pin constraints for a modified icestick board

set_io CLK12 21

set_io RS232_TX 8
set_io RS232_RX 9

set_io DMX_TX1 87
set_io DMX_TX2 88
set_io DMX_GATE1 90
set_io DMX_GATE2 91

set_io RED_N 79
set_io GREEN_N 80
set_io BLUE_N 81

set_io LED5 95
set_io LED4 96
set_io LED3 97
set_io LED2 98
set_io LED1 99

set_io DEBUG[0] 112
set_io DEBUG[1] 113
set_io DEBUG[2] 114
set_io DEBUG[3] 115
set_io DEBUG[4] 116
set_io DEBUG[5] 117
set_io DEBUG[6] 118
set_io DEBUG[7] 119
